<div class="col-md-12">
    <div class="col-md-offset-2 col-md-8 marginTop30">

        <span class="label label-info fontSizeMedium" >
           {{welcome}}
        </span>
        <form class="marginTop15">
            <div class="form-group">
                <label for="UserName">User Name</label>
                <input type="text" class="form-control" id="UserName" placeholder="User Name" ng-model="user.name">
            </div>
            <div class="form-group">
                <label for="Age">Age</label>
                <input type="number" min="1" max="90" class="form-control" id="Age" placeholder="Age" ng-model="user.age">
            </div>
            <div class="checkbox">
                <b>Gender</b>
                <label>
                    <input type="radio" name="gender" value="male" ng-model="user.gender"> Male
                    <input type="radio" name="gender" value="female" ng-model="user.gender"> Female
                </label>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" placeholder="E-Mail" ng-model="user.email">
            </div>
            <div class="form-group">
                <label for="ContactNumber">Contact Number</label>
                <input type="number" min="1" class="form-control" id="ContactNumber" placeholder="Contact Number" ng-model="user.contact">
            </div>
            <input type="button" class="btn btn-primary" value="Submit"  ng-click="SubmitUser(user)" />
        </form>
    </div>
</div>