<div class="col-md-12">
    <div class="col-md-offset-2 col-md-8 marginTop30">

        <h3>Question:</h3>
        <p>
            Please select the number of times brazil have won the World Cup International Challenge.
        </p>
        <form>
            <div class="checkbox">
                <b>Options</b>
                <br/>
                <label>
                    <input type="radio" name="question" value="Yes" ng-model="question.four"> 3
                    <br/>
                    <input type="radio" name="question" value="No" ng-model="question.four"> 4
                    <br/>
                    <input type="radio" name="question" value="No" ng-model="question.four"> 5
                </label>
            </div>
            <input type="button" class="btn btn-primary btn-sm" value="Submit"  ng-click="SubmitQ4(question)" />
        </form>
    </div>
</div>