<div class="col-md-12">
    <div class="col-md-offset-2 col-md-8 marginTop30">

        <h3>Question:</h3>
        <p>
            <q>Soccer is the most famous game in the world</q>.Do you agree with this statement?
        </p>
        <form>
            <div class="checkbox">
                <b>Options</b>
                <br/>
                <label>
                    <input type="radio" name="question" value="Yes" ng-model="question.one"> Yes
                    <br/>
                    <input type="radio" name="question" value="No" ng-model="question.one"> No
                    <br/>
                    <input type="radio" name="question" value="Not so sure" ng-model="question.one"> Not so sure
                </label>
            </div>
            <input type="button" class="btn btn-primary btn-sm" value="Submit"  ng-click="SubmitQ1(question)" />
        </form>
    </div>
</div>