<div class="col-md-12">
    <div class="col-md-offset-2 col-md-8 marginTop30">

        <h3>Question:</h3>
        <p>
            Have Brazil won the maximum number of world cup challenge?
        </p>
        <form>
            <div class="checkbox">
                <b>Options</b>
                <br/>
                <label>
                    <input type="radio" name="question" value="Yes" ng-model="question.three"> Yes
                    <br/>
                    <input type="radio" name="question" value="No" ng-model="question.three"> No
                </label>
            </div>
            <input type="button" class="btn btn-primary btn-sm" value="Submit"  ng-click="SubmitQ3(question)" />
        </form>
    </div>
</div>