<div class="col-md-12">
    <div class="col-md-offset-2 col-md-8 marginTop30">

        <span class="label label-info fontSizeMedium" >
           Result
        </span>

        <table class="table table-striped marginTop15">
            <tr>
                <td>User Name</td>
                <td>{{userInfo.name}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{userInfo.age}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{userInfo.gender}}</td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>{{userInfo.email}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{userInfo.contact}}</td>
            </tr>
            <tr>
                <td>Question 1</td>
                <td>{{ansArray[0].one}}</td>
            </tr>
            <tr>
                <td>Question 2</td>
                <td>{{ansArray[1].two}}</td>
            </tr>
            <tr>
                <td>Question 3</td>
                <td>{{ansArray[2].three}}</td>
            </tr>
            <tr>
                <td>Question 4</td>
                <td>{{ansArray[3].four}}</td>
            </tr>
            <tr>
                <td>Correct Answer</td>
                <td>{{correctAns}}</td>
            </tr>
            <tr>
                <td>Total Queation</td>
                <td>4</td>
            </tr>
        </table>
    </div>
</div>